http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: token <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9ab9d03d84b698dc42622a712fa1eaf61cf185834a310aaf14d65d3e7ee51936"
      last-modified: Thu, 28 Jan 2021 13:02:49 GMT
      status: 200 OK
      x-accepted-oauth-scopes: ''
      x-github-media-type: github.v3; format=json
      x-oauth-scopes: gist, repo, user:email
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4794'
      x-ratelimit-reset: '1611842570'
      x-ratelimit-used: '206'
    body:
      encoding: UTF-8
      file: no
      string: '{"login":"epijim","id":2760096,"node_id":"MDQ6VXNlcjI3NjAwOTY=","avatar_url":"https://avatars.githubusercontent.com/u/2760096?v=4","gravatar_id":"","url":"https://api.github.com/users/epijim","html_url":"https://github.com/epijim","followers_url":"https://api.github.com/users/epijim/followers","following_url":"https://api.github.com/users/epijim/following{/other_user}","gists_url":"https://api.github.com/users/epijim/gists{/gist_id}","starred_url":"https://api.github.com/users/epijim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/epijim/subscriptions","organizations_url":"https://api.github.com/users/epijim/orgs","repos_url":"https://api.github.com/users/epijim/repos","events_url":"https://api.github.com/users/epijim/events{/privacy}","received_events_url":"https://api.github.com/users/epijim/received_events","type":"User","site_admin":false,"name":"James
        Black","company":"Roche","blog":"www.epijim.uk","location":"Basel, Switzerland","email":null,"hireable":null,"bio":"Studied
        at @cambridgeuniversity, working at @Roche, living in @swiss","twitter_username":null,"public_repos":99,"public_gists":41,"followers":14,"following":3,"created_at":"2012-11-09T16:01:07Z","updated_at":"2021-01-28T13:02:49Z"}'
  recorded_at: 2021-01-28 13:53:19 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.github.com/user/orgs?per_page=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: token <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0fed2db38d0422be305ca40bd198b2a972b3611e0adabe30b3d86a39e04e7edb"
      status: 200 OK
      x-accepted-oauth-scopes: admin:org, read:org, repo, user, write:org
      x-github-media-type: github.v3; format=json
      x-oauth-scopes: gist, repo, user:email
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4793'
      x-ratelimit-reset: '1611842570'
      x-ratelimit-used: '207'
    body:
      encoding: UTF-8
      file: no
      string: '[{"login":"openpharma","id":8436743,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg0MzY3NDM=","url":"https://api.github.com/orgs/openpharma","repos_url":"https://api.github.com/orgs/openpharma/repos","events_url":"https://api.github.com/orgs/openpharma/events","hooks_url":"https://api.github.com/orgs/openpharma/hooks","issues_url":"https://api.github.com/orgs/openpharma/issues","members_url":"https://api.github.com/orgs/openpharma/members{/member}","public_members_url":"https://api.github.com/orgs/openpharma/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/8436743?v=4","description":"Further
        precompetitive collaboration in life sciences"},{"login":"RConsortium","id":15366137,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE1MzY2MTM3","url":"https://api.github.com/orgs/RConsortium","repos_url":"https://api.github.com/orgs/RConsortium/repos","events_url":"https://api.github.com/orgs/RConsortium/events","hooks_url":"https://api.github.com/orgs/RConsortium/hooks","issues_url":"https://api.github.com/orgs/RConsortium/issues","members_url":"https://api.github.com/orgs/RConsortium/member[...]
- request:
    method: get
    uri: https://api.github.com/orgs/openpharma/repos?per_page=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: token <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c0955097139565fe8c95a1190346ce5de157c82389e17f4811e233f9e3a5d824"
      status: 200 OK
      x-accepted-oauth-scopes: ''
      x-github-media-type: github.v3; format=json
      x-oauth-scopes: gist, repo, user:email
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4792'
      x-ratelimit-reset: '1611842570'
      x-ratelimit-used: '208'
    body:
      encoding: UTF-8
      file: no
      string: "[{\"id\":95364409,\"node_id\":\"MDEwOlJlcG9zaXRvcnk5NTM2NDQwOQ==\",\"name\":\"openpharma.github.io\",\"full_name\":\"openpharma/openpharma.github.io\",\"private\":false,\"owner\":{\"login\":\"openpharma\",\"id\":8436743,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjg0MzY3NDM=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/8436743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/openpharma\",\"html_url\":\"https://github.com/openpharma\",\"followers_url\":\"https://api.github.com/users/openpharma/followers\",\"following_url\":\"https://api.github.com/users/openpharma/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/openpharma/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/openpharma/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/openpharma/subscriptions\",\"organizations_url\":\"https://api.github.com/users/openpharma/orgs\",\"repos_url\":\"https://api.github.com/users/openpharma/repos\",\"events_url\":\"https://api.github.com/users/openpharma/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/openpharma/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/openpharma/openpharma.github.io\",\"description\":\"Further
        precompetitive collaboration in life science area.\",\"fork\":false,\"url\":\"https://api.github.com/repos/openpharma/openpharma.github.io\",\"forks_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/forks\",\"keys_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/teams\",\"hooks_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/hooks\",\"issue_events_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/events\",\"assignees_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/tags\",\"blobs_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/languages\",\"stargazers_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/stargazers\",\"contributors_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/contributors\",\"subscribers_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/subscribers\",\"subscription_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/subscription\",\"commits_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/merges\",\"archive_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/downloads\",\"issues_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/openpharma/openpharma.github.io/deployments\",\"created_at\":\"2017-06-25T14:21:59Z\",\"updated_at\":\"2017-06-25T15:14:04Z\",\"pushed_at\":\"2017-06-25T15:04:17Z\",\"git_url\":\"git://github.com/openpharma/openpharma.github.io.git\",\"ssh_url\":\"git@github.com:openpharma/openpharma.github.io.git\",\"clone_url\":\"https://github.com/openpharma/openpharma.github.io.git\",\"svn_url\":\"https://github.com/openpharma/openpharma.github.io\",\"homepage\":null,\"size\":895,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"JavaScript\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":true,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":1,\"license\":{\"key\":\"mit\",\"name\":\"MIT
        License\",\"spdx_id\":\"MIT\",\"url\":\"https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"forks\":0,\"open_issues\":1,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":208896481,\"node_id\":\"MDEwOlJlcG9zaXRvcnkyMDg4OTY0ODE=\",\"name\":\"visR\",\"full_name\":\"openpharma/visR\",\"private\":false,\"owner\":{\"login\":\"openpharma\",\"id\":8436743,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjg0MzY3NDM=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/8436743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/openpharma\",\"html_url\":\"https://github.com/openpharma\",\"followers_url\":\"https://api.github.com/users/openpharma/follo[...]
